<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="/assets/js/script.js" defer></script>
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/categoria.html">Categoria</a>
            <a href="/produto.html">Produto</a>
            <a href="/institucional.html">Institucional</a>
            <a href="/macro.html">Macro</a>
        </nav>
    </header>
    
    <main>
        {{ content }}
    </main>
</body>
</html>
