<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ "/css/style.css" | relative_url }}">
  <script src="{{ "/js/script.js" | relative_url }}"></script>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="{{ "/" | relative_url }}">Home</a></li>
        <li><a href="{{ "/pages/categoria.md" | relative_url }}">Sobre12323</a></li>
        <li><a href="{{ "/pages/produto.md" | relative_url }}">Contato</a></li>
      </ul>
    </nav>
  </header>

  <main>
    {{ content }}
  </main>
</body>
</html>
